{% extends 'books/base.html' %}
{% block content %}
<h2>Список жанров</h2>
<ul>
    {% for genre in genres %}
        <li>
            {{ genre.name }}
            <a href="{% url 'books:genre_recommendations' genre.name %}">Перейти к рекомендациям</a>
            <!-- ссылки на редактирование/удаление жанра -->
            {% if user.is_authenticated %}
                <a href="{% url 'books:edit_genre' genre.pk %}">Редактировать</a>
                <a href="{% url 'books:delete_genre' genre.pk %}">Удалить</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% if user.is_authenticated %}
    <a href="{% url 'books:add_genre' %}">Добавить жанр</a>
{% endif %}
{% endblock %}
